@{
    ViewBag.Title = "About";
}
<div id="timeline-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Who We Are</h2>
                    <img src="~/Images/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 testimonails-content">
                <p>
                    <strong>I.Solutions Ltd.</strong>  specialises in training and development in various sector such as management, leadership, apprenticeships, energy management, finance, marketing, customer service and consultancy. All of our trainers and consultants are quality assured, and have a lot of experience on their ability to deliver top-quality programmes.
                    Not only have we gained an exceptional reputation for delivering the best customer service but competitor analysis shows that we are one of the best value providers in the service industry. Our successful outcomes and feed-back from our clients confirm that value for money and flexibility is at the core of everything we do.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Our Approach</h2>
                    <img src="~/Images/under-heading.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 testimonails-content">
                <p>
                    Our flexible approach to training will help you meet your specific training needs. Furthermore, this approach will make sure that you achieved maximum return on your investment. Whether it’s referring your staff on an open programme through our network of licensed trainers; undertaking employee surveys and  training needs analysis or delivering in-house  training to conduct a bespoke programme to raise the performance level of your staff <br />
                    <strong>I.Solutions Ltd.</strong>   will make sure our services work for you and meet your satisfaction. 
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3 style="font-style:italic;">Our Vision</h3>
                <p>We aim to become the preferred partner for training and consulting services in the global market. Our partners need to be dealt with transparently in order to deliver the optimal service. Our society and community deserves some contribution from each of us in order to continuously improve and move further towards the future.</p>
            </div>
            <div class="col-md-6">
                <h3 style="font-style:italic;">Our Mission</h3>
                <p><strong>I.Solutions Ltd.</strong> . is seeking to facilitate companies in the complex task of developing and maintaining competitive advantage. Ensuring growth and survival in the global market is one of our most important targets. The tools that can implement our mission are the design and delivery of the highest standards of professional training and consultancy.</p>
            </div>
        </div>

    </div>
</div>
