@{
    Layout = null;
}
<div class="form-group">
    @Html.Label("Course", htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-3">
        @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessage("CourseId", "", new { @class = "text-danger" })
    </div>
</div>